@theme-color: #31c27c;
.user-create-playlist {
  cursor: pointer;
  &:hover {
    color: @theme-color;
  }
}
.player-playlist-container {
  min-width: 1200px;

  .playlist-songs {
    overflow-y: scroll;
    height: 29vh;
    .isPlaying {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &::-webkit-scrollbar {
      width: 8px;
      height: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #666;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #666;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #666;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .player-playlist-title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    p {
      flex: 1;
      text-align: center;
      font-size: 16px;
    }
  }
  .player-playlist-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .wave-container {
      width: 12px;
      height: 12px;
      background-color: gray;
      background-repeat: no-repeat;
      display: none;
      transform: translateX(10px);
    }
    .isPlaying {
      display: inline-block;
    }
    .song-name {
      .name {
        display: flex;
        justify-content: center;
        cursor: pointer;
        position: relative;
        align-items: center;
        &:hover {
          & > span:first-child {
            color: #fff;
          }
        }
        p {
          display: flex;
          opacity: 0;
          position: absolute;
          right: 0;
          transition: all 0.5s;
          span {
            font-size: 25px;
            margin: 0 3px;
          }
        }
        &:hover {
          p {
            opacity: 1;
          }
        }
      }
    }
    .artists {
      &:hover {
        color: #fff;
      }
    }
    div {
      padding: 6px 0;
      flex: 1;
      cursor: pointer;
      text-align: center;
      font-size: 15px;
      .duration {
        margin-left: 11px;
      }
    }
  }
  .player-playlist-action {
    font-size: 15px;
    display: flex;
    justify-content: center;
    div {
      border: 1px solid hsla(0, 0%, 100%, 0.2);
      padding: 5px;
      cursor: pointer;
      color: #ccc;
      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }
}
.loading {
  display: flex;
  justify-content: center;
  span {
    font-size: 30px;
  }
}
.user-create-playlist {
  border-top: 1px solid #ccc;
  // margin: 10px 0px;
  padding: 10px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  .lazyload-container {
    margin-right: 10px;
    img {
      border-radius: 2px;
    }
  }
}
.create-new {
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: @theme-color;
  }
  margin-bottom: 10px;
}
