.playlist-container {
  padding-bottom: 100px;
  padding-top: 20px;
  background: #f8f8f8;
  position: relative;
  width: 100%;
  .carousel-wrapper {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
}
