.player-playlist-container {
  width: 70%;
  border: 1px solid;
  padding: 20px;
  .player-playlist-title {
    display: flex;
    justify-content: space-between;
    p {
      flex: 1;
      margin-top: 20px;

    }
  }
  .player-playlist-item {
    display: flex;
    justify-content: space-between;
    p {
      flex: 1;
      margin-top: 20px;
    }
  }
  .isPlaying{
    background: #fafafa;
  }

  
}
