@theme-color: #31c27c;
.playlist-conatiner {
  .playlist-content {
    display: flex;
    .playlist-cate {
      display: flex;
      flex-direction: column;
      .cate-menu {
        width: 250px;
        border: none;
        border-radius: 3px;
        .ant-menu-submenu-title:hover {
          color: @theme-color;
          .ant-menu-submenu-arrow {
            color: @theme-color;
          }
        }
        .ant-menu-submenu-selected,
        .ant-menu-submenu-open {
          color: @theme-color;
        }
      }
      .current-cate {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 10px;
        background: @theme-color;
        color: #fff;
      }
      .showall {
        width: 100px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 10px;
      }
    }
  }

  .playlist-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    & > div {
      margin: 20px;
    }
  }
}
