.pl-cover {
  width: 120px;
  margin: 20px;
  img {
    border-radius: 8px;
    cursor: pointer;
    width: 120px;
    height: 350px;
    object-fit: cover;
    transition: all 0.3s;
    &:hover {
      transform: translateY(-10px);
    }
  }
}
