.singer-container {
  background: #fafafa;
}
.singer-container .singer-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 376px;
  text-align: center;
}
.singer-container .singer-bg h1 {
  font-size: 50px;
}
.singer-container .singer-bg h3 {
  font-size: 30px;
}
.singer-container .singer-bg h1,
.singer-container .singer-bg h3 {
  color: #fff;
}
.singer-container .singer-bg .login-btn {
  background: transparent;
  color: #fff;
  padding: 10px 35px;
  border: 1px solid #fff;
  margin-top: 10px;
}
.singer-container .singer-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa;
}
