.rank-cover-wrapper {
  position: relative;
  width: 18%;
  height: 500px;
  overflow: hidden;
}
.rank-cover-wrapper .rank-cover-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.rank-cover-wrapper .rank-cover-container:hover {
  transform: scale(1.1);
}
.rank-cover-wrapper .rank-cover-container .rank-type {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rank-cover-wrapper .rank-cover-container .rank-type h2,
.rank-cover-wrapper .rank-cover-container .rank-type h1 {
  color: #fff;
}
.rank-cover-wrapper .rank-cover-container .divider {
  width: 40px;
  height: 2px;
  background: #fff;
  margin: 0 auto;
}
.rank-cover-wrapper .rank-cover-container .rank-list {
  padding: 30px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}
.rank-cover-wrapper .rank-cover-container .rank-list .rank-item {
  display: flex;
  margin-top: 20px;
}
.rank-cover-wrapper .rank-cover-container .rank-list .rank-item .rank-info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  cursor: pointer;
}
