.newalbum-container {
  position: relative;
  background: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 60px;
  .carousel-wrapper {
    margin-top: 20px;
    display: flex !important;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    & > div {
      margin: 40px;
    }
  }
}
