.newalbum-container {
  position: relative;
  background: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 50px;
}
.newalbum-container .newalbum-content {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
