.mv-container {
  padding-top: 20px;
  background: #f8f8f8;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  padding-bottom: 150px;
  .carousel-wrapper {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    position: relative;
    & > div {
      margin: 40px;
    }
  }
}
