@theme-color: #31c27c;
.song-container {
  padding: 20px;
  display: flex;
  width: 33.33%;
  align-items: center;
  cursor: pointer;
  img {
    width: 86px;
    height: 86px;
    border-radius: 2px;
    transition: all 0.3s;
    overflow: hidden;
    &:hover {
     transform: scale(1.1);
    }
  }
  .song-info {
    margin-left: 10px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    div:first-child {
      p {
        &:hover {
          color: @theme-color;
        }
      }
      p:last-child {
        color: #999;
        &:hover {
          color: @theme-color;
        }
      }
    }
    .song-duration {
      margin-left: 40px;
      color: #999;
    }
  }
}
