@theme-color: #31c27c;
.playlist-cover {
  display: flex;
  justify-content: space-around;
  div {
    width: 200px;
    height: 200px;
   
    img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
    }
    .playNum {
      color: #999;
    }
  }
}
