.playlist-cover-wrapper {
  position: relative;
  width: 18%;
  height: 200px;
}
.playlist-cover-wrapper .playlist-cover {
  position: relative;
  height: 180px;
  overflow: hidden;
}
.playlist-cover-wrapper .playlist-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 10px;
  transition: all 0.3s;
  border-radius: 2px;
}
.playlist-cover-wrapper .playlist-cover img:hover {
  transform: scale(1.1);
}
.playlist-cover-wrapper .playlist-cover-info {
  margin-top: 10px;
}
.playlist-cover-wrapper .playlist-cover-info .playNum {
  color: #999;
}
.playlist-cover-wrapper .playlist-cover-info .text-nowrap {
  cursor: pointer;
}
.playlist-cover-wrapper .playlist-cover-info .text-nowrap:hover {
  color: #31c27c;
}
