.singer-cate-container .singer-cate-content {
  background: #fafafa;
}
.singer-cate-container .singer-cate-content .singer-cate-select {
  background: #31c27c;
  color: #fff !important;
}
.singer-cate-container .singer-cate-content .singer-cate-area,
.singer-cate-container .singer-cate-content .singer-cate-type,
.singer-cate-container .singer-cate-content .singer-cate-initial {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.singer-cate-container .singer-cate-content .singer-cate-area span,
.singer-cate-container .singer-cate-content .singer-cate-type span,
.singer-cate-container .singer-cate-content .singer-cate-initial span {
  cursor: pointer;
  padding: 2px 10px;
  margin-left: 10px;
}
.singer-cate-container .singer-cate-content .singer-cate-area span:hover,
.singer-cate-container .singer-cate-content .singer-cate-type span:hover,
.singer-cate-container .singer-cate-content .singer-cate-initial span:hover {
  color: #31c27c;
}
.singer-cate-container .singer-cate-content .singer-cate-area span:first-child,
.singer-cate-container .singer-cate-content .singer-cate-type span:first-child,
.singer-cate-container .singer-cate-content .singer-cate-initial span:first-child {
  margin-right: 10px;
  margin-left: 0;
}
