.playlist-container {
  padding: 20px;
}
.playlist-container .playlist-tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.playlist-container .playlist-tabs div {
  margin: 0 20px;
}
.playlist-container .playlist-tabs div:hover {
  color: #31c27c;
  cursor: pointer;
}
.playlist-container .playlist-tabs .active {
  color: #31c27c;
}
.playlist-container .playlist-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}
.playlist-container .playlist-content .dots-container {
  position: absolute;
  left: 50%;
  bottom: -90px;
  transform: translate(-50%, 0);
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playlist-container .playlist-content .dots-container .dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  margin: 0 20px;
  cursor: pointer;
}
.playlist-container .playlist-content .dots-container .dots:hover {
  background: #333;
}
.playlist-container .playlist-content .dots-container .active {
  background: #333;
}
.playlist-container .switch-btn {
  position: absolute;
  top: 330px;
  width: 50px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #ccc;
  opacity: 0.5;
  font-size: 20px;
  cursor: pointer;
}
.playlist-container .switch-btn:hover {
  opacity: 1;
}
.playlist-container .switch-btn-left {
  left: 0;
}
.playlist-container .switch-btn-right {
  right: 0;
}
