.newsong-container {
  padding-top: 30px;
  background: #f3f3f3;
  position: relative;
  padding-bottom: 50px;
}
.newsong-container .newsong-content {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
