@theme-color: #31c27c;
.album-cover {
  width: 18%;
  margin-bottom: 10px;
  p:hover {
    color: @theme-color;
    cursor: pointer;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 2px;
    transition: all 0.3s;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  .text-nowrap {
    margin-top: 10px;
  }
  .singer {
    color: #999;
  }
}
