.album-cover {
  width: 18%;
}
.album-cover p:hover {
  color: #31c27c;
  cursor: pointer;
}
.album-cover img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  transition: all 0.3s;
  overflow: hidden;
}
.album-cover img:hover {
  transform: scale(1.1);
}
.album-cover .text-nowrap {
  margin-top: 10px;
}
.album-cover .singer {
  color: #999;
}
