@theme-color: #31c27c;

.song-detail-wrapper {
  background-color: #fafafa;

  .song-detail-container {
    padding: 30px;
    display: flex;
    .song-detail-cover {
      img {
        width: 250px;
        height: 250px;
      
      }
    }
    .song-detail-info {
      margin-left: 30px;
    }
  }
  .song-lyric {
    padding: 30px;
  }
}
